<a href="{{ site.url }}{% link about.md %}" class="text-decoration-none">
    <div class="card shadow-sm border-0">
        <div class="row g-0 align-items-center">
            <div class="col-md-2 text-center text-md-center">
                <img src="/assets/images/illustrations/about-author.webp"
                     alt="Оксана Коновалова"
                     class="img-fluid rounded-circle shadow-sm m-3"
                     style="max-width: 120px;">
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <p class="h5 card-title">Оксана Коновалова</p>
                    <p class="card-text text-muted">
                        Клинический психолог в направлениях КПТ, ДБТ, ACT.
                        Более 10 лет опыта работы с тревожными, депрессивными,
                        обсессивно-компульсивными расстройствами и трихотилломанией.
                    </p>
                </div>
            </div>
        </div>
    </div>
</a>