<div class="card">
    <div class="card-body">
        <p class="card-title fs-3 mb-4">Контакты</p>

        {% if site.data.contact.phone %}
        <div class="d-flex align-items-center gap-2 mb-3">
            <span class="weight-bold">Номер телефона: </span>
            <a href="tel:{{ .site.data.contact.phone }}">{{ site.data.contact.phone }}</a>
        </div>
        {% endif %}

        {% if site.data.contact.email %}
        <div class="d-flex align-items-center gap-2 mb-3">
            Почта:
            <a href="mailto:{{ .site.data.contact.email }}?subject=консультация">
                {{ site.data.contact.email }}
            </a>
        </div>
        {% endif %}

        {% if site.data.contact.telegram %}
        <div class="mt-3 d-flex align-items-center gap-2">
            Написать мне в
            <a class="weight-bold" href="{{ .site.data.contact.telegram }}" rel="nofollow" target="_blank">Telegram</a>
        </div>
        {% endif %}

        {% if site.data.contact.whatsapp %}
        <div class="mt-3 d-flex align-items-center gap-2">
            или в
            <a class="weight-bold" href="{{ .site.data.contact.whatsapp }}" rel="nofollow" target="_blank">WhatsApp</a>
        </div>
        {% endif %}

    </div>
</div>
