<div class="call">
    <div class="call-box-top">
        {% if site.data.contact.phone %}
        <div class="call-phone">
            <span class="weight-bold">Номер телефона: </span>
            <a href="tel:{{ .site.data.contact.phone }}">{{ site.data.contact.phone }}</a>
        </div>
        {% endif %}
        {% if site.data.contact.email %}
        <div class="call-email">
            Почта:
            <a style="color: #f36a5d; font-weight: bold"
               href="mailto:{{ .site.data.contact.email }}?subject=консультация"> {{ site.data.contact.email }}</a>
        </div>
        {% endif %}
        {% if site.data.contact.telegram %}
        <div class="call-phone mt-1">
            Написать мне в <a class="weight-bold" href="{{ .site.data.contact.telegram }}" rel=nofollow>Telegram</a>
        </div>
        {% endif %}
        {% if site.data.contact.whatsapp %}
        <div class="call-phone mt-1">
            или в <a class="weight-bold" href="{{ .site.data.contact.whatsapp }}" rel=nofollow>WhatsApp</a>
        </div>
        {% endif %}

        {% if site.data.contact.feedback_form %}
        <div class="call-phone mt-1">
            или заполните <a class="weight-bold" href="{{ .site.data.contact.feedback_form }}">форму на сайте</a>
        </div>
        {% endif %}
    </div>
</div>
