<div class="call">
    <div class="call-box-top">
        {% if site.data.contact.phone %}
            <div class="call-phone">
                <strong></strong>
                <strong>Номер телефона: </strong>
                <a href="tel:{{ .site.data.contact.phone }}">{{ site.data.contact.phone }}</a>
            </div>
        {% endif %}
        {% if site.data.contact.email %}
            <div class="call-email">
                <strong>Почта: </strong>
                <a href="mailto:{{ .site.data.contact.email }}?subject=консультация">{{ site.data.contact.email }}</a>
            </div>
        {% endif %}
        {% if site.data.contact.telegram %}
            <div class="call-phone mt-1">
                <a href="{{ .site.data.contact.telegram }}"><strong>Написать мне в Telegram</strong></a>
            </div>
        {% endif %}
        {% if site.data.contact.whatsapp %}
            <div class="call-phone mt-1">
                <a href="{{ .site.data.contact.whatsapp }}"><strong>или в WhatsApp</strong></a>
            </div>
        {% endif %}
    </div>
</div>
