<div class="content container">
    <div class="row justify-content-center">
        <div class="step-block">
            <span class="step-bg">1</span>

            <h2>Подготовка к онлайн-консультации</h2>
            <div class="feature-content">Вы получаете опросник,
                в котором описываете свою ситуацию. После этого я определяю
                в моей ли компетенции ваш запрос и если да, то переходим к планированию встречи, если нет, то направляю
                отказ
            </div>
        </div>

        <div class="step-block">
            <span class="step-bg">2</span>

            <h2>Выбор даты и оплата</h2>
            <div class="feature-content">Выбираем вместе дату и время консультации. Проговариваем условия консультации.
                Фиксируем договоренность предоплатой размером 100%. Договор-оферта на оказание услуг.
            </div>
        </div>

        <div class="step-block justify-content-center align-content-center">
            <span class="step-bg">3</span>
            <h2>Онлайн-консультация</h2>
            <div class="feature-content">Продолжительность — 1 час. Проходит в <strong>ZOOM</strong>. Отказаться
                от консультации без потери предоплаты можно за 24 часа до её проведения.
                После диагностической консультации вы определяетесь, идете ли в терапию
            </div>
        </div>

        <div class="step-block">
            <span class="step-bg">4</span>
            <h2>Терапия</h2>
            <div class="feature-content">Терапия, которая включает в себя
                систематическую работу над задачей, сессии, упражнения, домашние задания, обучающие видео,
                записанные мной и подобранные под конкретный запрос клиента, сопровождение клиента между сессиями.
            </div>
        </div>
    </div>
</div>