<div class="row justify-content-center">
    <div class="step-block">
        <span class="step-bg">1</span>

        <h2 class="feature-title">Подготовка к онлайн-консультации</h2>
        <div class="feature-content">Вы получаете опросник,
            в котором описываете свою ситуацию. После этого я определяю
            в моей ли компетенции ваш запрос и если да, то заранее готовлю план и техники работы на консультации.
        </div>
    </div>

    <div class="step-block">
        <span class="step-bg">2</span>

        <h2 class="feature-title">Выбор даты и оплата</h2>
        <div class="feature-content">Выбираем вместе дату и время консультации. Проговариваем условия консультации.
            Фиксируем договоренность предоплатой размером 100%. Договор-оферта на оказание услуг.
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="step-block justify-content-center align-content-center">
        <span class="step-bg">3</span>
        <h2 class="feature-title">Онлайн-консультация</h2>
        <div class="feature-content">Продолжительность — 1 час. Проходит в ZOOM. Отказаться
            от консультации без потери предоплаты можно за 24 часа до её проведения.
        </div>
    </div>

    <div class="step-block">
        <span class="step-bg">4</span>
        <h2 class="feature-title">Сопровождение</h2>
        <div class="feature-content">Общение в чате (WhatsApp, Telegram) в течение 72-х часов после консультации.
            Формат — «Вопрос-Ответ».
        </div>
    </div>
</div>