<a href="{% link contact.md %}"
   class="button btn-primary button-shadow rounded-3 d-flex justify-content-center align-items-center w-100">
    <img alt="Онлайн помощь при трихотилломании"
         title="Кнопка записи на терапию трихотилломании"
         width="21"
         height="21"
         class="messenger-icon mr-1 d-inline" src="/assets/images/menu/message-icon.svg">
    <span
            class="d-block ms-3"
            style="font-size: clamp(18px, 2vw, 20px)">Записаться</span>
</a>
