<div class="row mx-auto my-auto justify-content-center">
    <div id="feedbackCarousel" class="carousel slide">
        <div class="carousel-inner">
            {% assign images = site.data.feedback.image %}
            {% for item in images %}


            <div class="carousel-item {% if forloop.index == 1 %} active {% endif %}">
                <div class="card">
                    <div class="img-wrapper">
                        <img class="d-block"
                             loading="lazy"
                             src="{{ item.url | relative_url }}" alt="{{ item.alt }}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        var multipleCardCarousel = document.querySelector("#feedbackCarousel");

        if (window.matchMedia("(min-width: 768px)").matches) {
            var carousel = new bootstrap.Carousel(multipleCardCarousel, {
                interval: false,
            });
            var carouselWidth = $(".carousel-inner")[0].scrollWidth;
            var cardWidth = $(".carousel-item").width();
            var scrollPosition = 0;
            $("#feedbackCarousel .carousel-control-next").on("click", function() {
                if (scrollPosition < carouselWidth - cardWidth * 4) {
                    scrollPosition += cardWidth;
                    $("#feedbackCarousel .carousel-inner").animate({
                            scrollLeft: scrollPosition
                        },
                        600
                    );
                }
            });
            $("#feedbackCarousel .carousel-control-prev").on("click", function() {
                if (scrollPosition > 0) {
                    scrollPosition -= cardWidth;
                    $("#feedbackCarousel .carousel-inner").animate({
                            scrollLeft: scrollPosition
                        },
                        600
                    );
                }
            });
        } else {
            $(multipleCardCarousel).addClass("slide");
        }
    });
</script>