<div class="slider">
    <i>
        <input checked type="radio" name="s"
               style="background-image: url('/images/feedbacks/1.png');"
               >
        <input type="radio" name="s"
               style="background-image: url('/images/feedbacks/2.png');"
               >
        <input type="radio" name="s"
               style="background-image: url('/images/feedbacks/3.png');"
               >
        <input type="radio" name="s"
               style="background-image: url('/images/feedbacks/1.png');"
               >
    </i>
</div>
