<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-inner">
                    <div>
                        <h2 class="footer-title">
                            СОЛОПОВА ОКСАНА
                        </h2>
                        <span class="footer-title">когнитивно-поведенческий психотерапевт</span>
                    </div>
                    {% if site.data.social %}
                    {% include social.html %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
