<div class="footer pt-1">
    <div class="container">
        <div class="col" style="color: white !important;">
            <div class="row mb-1">
                <div class="col-12 col-md-4 mb-1">
                    <div class="row align-items-center ms-3 ms-lg-0">
                        <div class="col-auto mt-3">
                            <a href="/" aria-label="Лечении трихотилломании">
                                <img width="60"
                                     height="60"
                                     alt="{{ site.title }}"
                                     title="Лечение трихотилломании и помощь при других психических расстройствах"
                                     src="{{ site.logo.mobile | relative_url }}">
                            </a>
                        </div>
                        <div class="col-auto mt-3">
                            <div class="row mb-2">
                                <span class="d-block">КОНОВАЛОВА ОКСАНА</span>
                                <span class="d-block">Клинический психолог</span>
                                <span class="d-block">Помощь в лечении трихотилломании</span>
                            </div>
                            <div class="row">
                                <span class="d-block">ИНН 645293010504</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 social">
                    <div class="row ms-4 ms-lg-0">
                        <div class="col mt-4">
                            {% assign categories = site.data.categories.list %}
                            <ul>
                                {% for category in categories %}
                                    <li class="pb-3">
                                        <a href="{{ category.url | relative_url }}">{{ category.name }}</a>
                                    </li>
                                {% endfor %}
                           </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 social">
                    <div class="row mt-3 mb-3">
                        {% for item in site.data.social %}
                        <div class="col text-center text-md-start">
                            <a href="{{ item.link }}"
                               class="d-inline-flex align-items-center justify-content-center justify-content-md-start"
                               rel="nofollow"
                               target="_blank">
                                <img class="messenger-icon"
                                     src="{{ item.image | relative_url }}"
                                     alt="{{ item.description }}">
                                <span class="d-none d-lg-inline-block ms-2" style="font-size: clamp(8px, 2vw, 14px);">
                                  {{ item.name }}
                                </span>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr class="border-white border-1 opacity-75 m-2">
            <div class="row mb-1">
                <div class="col-sm-4 py-2 py-lg-1 text-center text-md-start">
                    © 2022 - {{ site.time | date: '%Y' }} TTM HELP
                </div>
                <div class="col-sm-4 py-2 py-lg-1 text-center text-md-center">
                    <a class="d-inline mr-1 text-decoration-none" href="/assets/docs/privacy-policy.pdf" rel="nofollow" target="_blank">
                        Политика конфиденциальности
                    </a>
                </div>
                <div class="col-sm-4 py-2 py-lg-1 text-center text-md-end">
                    <a class="d-inline text-decoration-none" href="/assets/docs/user-agreement.pdf" rel="nofollow" target="_blank">
                        Пользовательское соглашение
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-footer-menu d-flex justify-content-around align-items-center">
    <a href="{% link faq.md %}"
       class="text-decoration-none ms-2"
       aria-label="страница с часто задаваемыми вопросами и ответы на них">
        <div class="col">
            <div class="row mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                </svg>
            </div>
            <div class="row mb-1">
                <span class="font-monospace text-black" style="font-size: 0.75rem;">
                    ответы
                </span>
            </div>
        </div>
    </a>
    <a href="{% link about.md %}"
       class="text-decoration-none"
       aria-label="Коновалова Оксана - психолог, психотерапевт">
        <div class="col">
            <div class="row mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            </div>

            <div class="row mb-1">
                <span class="font-monospace text-black" style="font-size: 0.75rem;">
                    обо мне
                </span>
            </div>
        </div>
    </a>
    <a href="https://t.me/ttm_help_ru"
       class="text-decoration-none"
       aria-label="группа помощи в телеграм"
       target="_blank"
       rel="noopener noreferrer nofollow">
        <div class="col">
            <div class="row mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="bi bi-telegram" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906q-1.168.486-4.666 2.01-.567.225-.595.442c-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294q.39.01.868-.32 3.269-2.206 3.374-2.23c.05-.012.12-.026.166.016s.042.12.037.141c-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8 8 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629q.14.092.27.187c.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.4 1.4 0 0 0-.013-.315.34.34 0 0 0-.114-.217.53.53 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09"/>
                </svg>
            </div>

            <div class="row mb-1">
                <span class="font-monospace text-black" style="font-size: 0.75rem;">
                    телеграм
                </span>
            </div>
        </div>
    </a>
    <a href="{% link contact.md %}"
       class="text-decoration-none me-2"
       aria-label="страница с контактами">
        <div class="col">
            <div class="row mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>
            </div>

            <div class="row mb-1">
                <span class="font-monospace text-black" style="font-size: 0.75rem;">
                    записаться
                </span>
            </div>
        </div>
    </a>
</div>
