<meta name="google-site-verification" content="4UiHQbB1eJhtQ_QN9UddEnLRCdQexSf_Pxlcz7JkhFI">
<meta name="yandex-verification" content="713666b14b55f263">
<meta name="wot-verification" content="708dc900272aa1967fa7">


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KD83J7BBEY"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-KD83J7BBEY');
</script>