<nav class="main-nav d-lg-none" id="main-nav" aria-label="Мобильное меню">
  <ul>
    {% assign mainmenu = site.data.menus.main %}
    {% for item in mainmenu %}
    <li>
      <a href="{{ item.url | relative_url }}" title="{{ item.long_name }}">{{ item.name }}</a>
    </li>
    {% endfor %}

    <li class="mt-4">
      <a href="https://t.me/Konovalova_Oksana"
         onclick="return gtag_report_conversion('https://t.me/Konovalova_Oksana');"
         rel="nofollow noopener">Написать</a>
    </li>
  </ul>
</nav>