<div class='header' id="navbar">
    <div class="container">
        <div class="logo">
            <a href="{{ site.baseurl | relative_url }}">
                <pre class="custom-title">Солопова</pre>
                <pre class="custom-title custom-title-disable"> Оксана</pre>
            </a>
        </div>
        <div class="logo-mobile">
            <a href="{{ site.baseurl | relative_url }}">
                <img width="{{ site.logo.mobile_width }}"
                     height="{{ site.logo.mobile_height }}"
                     alt="{{ site.title }}"
                     src="{{ site.logo.mobile | relative_url }}"/></a>
        </div>
        {% include main-menu.html %}
        {% include hamburger.html %}
    </div>
</div>
