<div class='header' id="navbar">
    <div class="container">
        <div class="d-flex gap-2">
            <div class="logo-mobile d-block">
                <a href="{{ site.url | relative_url }}">
                    <img style="aspect-ratio:1/1; height:100%"
                         alt="Логотип TTM Help"
                         title="Сайт о лечении трихотилломании"
                         src="{{ site.logo.mobile | relative_url }}"
                         fetchpriority="high"
                         loading="eager"
                    ></a>
            </div>
            <div class="logo pr-1 pl-2 desktop-mode">
                <a href="{{ site.url | relative_url }}">
                    <span class="custom-title custom-title-disable ml-0">ttm help</span>
                </a>
            </div>
        </div>
        {% include main-menu.html %}
        {% include hamburger.html %}
    </div>
</div>
