<div class="content mt-1">
    <span style="font-size: larger">
        Стоимость диагностической консультации:
    </span>
    <ul>
        <li>
            <strong>2 500₽</strong>
        </li>
    </ul>

    <span style="font-size: larger">
        Стоимость индивидуальность терапии:
    </span>
    <ul>
        <li>
            <strong>20 000₽.</strong> Оплата терапии осуществляется блоками по 4 сессии, из расчета 5 000₽ за 1 сессию
            60 минут
        </li>
    </ul>

    <span style="font-size: larger"> Стоимость групповой терапии:</span>
    <ul>
        <li>
            <strong>10 000₽</strong> в месяц за блок из 4 сессий из расчета 2500₽ за сессию <strong>для
            взрослых</strong>
        </li>
        <li>
            <strong>12 000₽</strong> в месяц за блок из 4 сессий из расчета 3000₽ за сессию <strong>для детей и
            подростков</strong>.
            Блок включает отдельный чат для родителей с моей обратной связью
        </li>
    </ul>
</div>
