<div class="content mt-1">
    <span style="font-size: larger">
        Стоимость диагностической консультации:
    </span>
    <ul>
        <li>
            <span class="weight-bold">3 000₽</span> за один час
        </li>
    </ul>

    <span style="font-size: larger">
        Стоимость индивидуальность терапии:
    </span>
    <ul>
        <li>
            <span class="weight-bold">26 000₽.</span> Оплата терапии осуществляется блоками по 4 сессии, из расчета 6 500₽ за 1 сессию
            55 минут
        </li>
    </ul>

    <span style="font-size: larger">
        Есть возможность принимать оплату как внутри РФ, так и за рубежом.
    </span>
</div>
