<div class="row mb-3">
    <span class="h2">Последние записи</span>
</div>
<div class="col-xl-7">
    {% assign posts = site.posts | sort: "date" | reverse %}
    {% assign post = posts | first %}

    <div class="row mb-3">
        <a href="{{ post.url }}" class="text-reset">
            <div class="row">
                <span class="h4">{{ post.title | smartify }}</span>
            </div>
            <figure class="figure mt-1">
                <img
                        src="{{ post.image }}"
                        class="rounded m-0"
                        alt="{{ post.title | smartify }}">

            </figure>
            <div class="row mt-1">
                <p class="content">
                    {{ post.description }}
                </p>
            </div>
        </a>
    </div>
</div>
<div class="col">
    {% assign posts = site.posts | sort: "date" | reverse %}

    {% for post in posts limit:5 offset:1 %}
        <div class="mb-2">
            <div class="row mb-2">
                {% assign post_category = post.category %}
                {% for site_category in site.data.categories.list %}
                    {% if site_category.name == post_category %}
                        <a href="{{ site_category.url }}" class="text-reset">
                            <span class="fw-lighter">{{ site_category.name }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row pe-0">
                <div class="col-auto col-md-8">
                    <a href="{{ post.url }}" class="text-reset">
                        <p class="h6">{{ post.title | smartify }}</p>
                    </a>
                </div>
                <div class="col-auto col-md-4">
                    <a href="{{ post.url }}" class="text-reset">
                        <figure class="figure">
                            <img
                                    src="{{ post.image }}"
                                    class="rounded m-0"
                                    alt="{{ post.title | smartify }}">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>