<div class="col-xl-7">
    {% assign posts = site.posts | sort: "date" | reverse %}
    {% assign post = posts | first %}

    <div class="row mb-3">
        <a href="{{ post.url }}" class="text-reset">
            <div class="row">
                <h4>{{ post.title }}</h4>
            </div>
            <figure class="figure mt-1">
                <img
                        src="{{ post.image }}"
                        class="rounded m-0"
                        alt="{{ post.title }}">

            </figure>
            <div class="row mt-3">
                <span>
                    {%- assign arr = post.content | markdownify | | strip | split: "<p>" -%}
                    {{ arr[1] | remove: "</p>" | strip_html | truncatewords: 50 }}
                </span>
            </div>
        </a>
    </div>
</div>
<div class="col">
    <div class="row mb-1">
        <span class="fs-5 fw-bold">Последние записи:</span>
    </div>

    {% assign posts = site.posts | sort: "date" | reverse %}

    {% for post in posts limit:5 offset:1 %}
        <div class="row mb-2">
            <div class="col-8">
                <div class="row mb-1">
                    {% assign post_category = post.category %}
                    {% for site_category in site.data.categories.list %}
                        {% if site_category.name == post_category %}
                            <a href="{{ site_category.url }}" class="text-reset">
                                <span class="fw-lighter">{{ site_category.name }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <a href="{{ post.url }}" class="text-reset">
                        <h6>{{ post.title }}</h6>
                    </a>
                </div>
            </div>
            <div class="col">
                <a href="{{ post.url }}" class="text-reset">
                    <figure class="figure">
                        <img
                                src="{{ post.image }}"
                                class="rounded m-0"
                                alt="{{ post.title }}">
                    </figure>
                </a>
            </div>
        </div>
    {% endfor %}
</div>