<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5JJRM9WG');</script>
<!-- End Google Tag Manager -->

<script>
    gtag('event', 'ads_conversion_OUTBOUND_CLICK_1', {
        // <event_parameters>
    });
</script>


<!-- Google tag (gtag.js) event - delayed navigation helper -->
<script>
    // Helper function to delay opening a URL until a gtag event is sent.
    // Call it in response to an action that should navigate to a URL.
    function gtagSendEvent(url) {
        var callback = function () {
            if (typeof url === 'string') {
                window.location = url;
            }
        };
        gtag('event', 'ads_conversion_OUTBOUND_CLICK_1', {
            'event_callback': callback,
            'event_timeout': 2000,
            // <event_parameters>
        });
        return false;
    }
</script>