<script src="/assets/js/youCover.js" async></script>

<div class="video-container mb-3">
    <div id="video-wrapper"
         data-width="100%"
         data-src='{{ page.video.url }}?controls=1&amp;autoplay=1&amp;showinfo=0&amp;rel=0'
         data-allowfullscreen
         data-loading='lazy'
         data-frameborder='0'
         data-allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'>

        <a href="#" id="video-play">
            <img id="youtube-cover" alt="Видео для просмотра" class="pt-1"
                 src="{{ page.video.image | default: page.image.url }}"
                 style="z-index: 1"/>
            <img id="youtube-button" alt="Воспроизвести" src="/assets/images/social/youtube-button.png"/>
        </a>
    </div>
</div>