<div class="mb-3">
    {% if page.video.url contains "youtube" %}
        <div class="plyr__video-embed"
             id="player">
            <iframe
                    src="{{ page.video.url }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                    allowfullscreen
                    allowtransparency
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            ></iframe>
        </div>
    {% else %}
        <video id="player" playsinline controls data-poster="{{ page.video.image | default: page.image.url }}">
            <source src="{{ page.video.url }}" type="video/mp4" />
        </video>
    {% endif %}
</div>

<script>
const player = new Plyr('#player');
</script>
