---
---

// Colors
$red-color: #f24f40;

// Bootstrap
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
@import 'bootstrap/bootstrap';

// // Components
@import "components/header";
@import "components/mobile-menu";
@import "components/content";
@import "components/slideshow";
@import "components/video_player";
@import "components/slideshow-video";
@import "components/faq";

// // Pages
@import "pages/page-home";

