---
---

// Colors
$primary: #f24f40;
$primary-dark: #222629;
$secondary: #189edc;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #e9e9e7;
$steel: #5c5a5a;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 10%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: 'Aftika', sans-serif, -apple-system;

// Footer
$footer-background-color: #474a4f;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Bootstrap
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
@import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/buttons";
@import "components/call";
@import "components/content";
@import "components/intro";
@import "components/strip";
@import "components/feature";
@import "components/social";
@import "components/slideshow";
@import "components/consultation";
@import "components/hamburger";
@import "components/sticky_mobile_menu";
@import "components/video_player";
@import "components/offer-card";
@import "components/slideshow-video";

// Pages
@import "pages/page-home";
@import "pages/page-faq";

@include media-breakpoint-up(md) {
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Aftika';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/aftika-bold.otf') format('opentype'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('/assets/fonts/aftika-bold.otf') format('opentype'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}

img {
  display: block;
}
