.button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 6px 10px rgba(70, 70, 93, 0.11), 0 1px 7px rgba(0, 0, 0, 0.08);
  background: $primary;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;

  &:hover {
    color: #ffffff;
    background-color: lighten($primary, 10%);
    transform: translateY(-1px);
    text-decoration: none;
  }
}
