.h1-title {
	font-size: clamp(32px, 8vw, 60px);
    line-height: 1.0;
    font-weight: 600;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.fs-3 {
	font-size: clamp(1.3rem, 3.5vw, 1.75rem) !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.fs-4 {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem) !important;
}

.fs-5 {
	font-size: clamp(1.1rem, 3.5vw, 1.25rem) !important;
}


.menu-button {
  background: $red-color;
  border-color: $red-color;
  color: #fff;

  &:hover,
  &:focus {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }
}

.fade-menu-button {
  background-color: $red-color;
  border-color: $red-color;
  color: #fff;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus {
    background-color: black;
    color: white;
    border-color: black;
  }
}