.h1-title {
	font-size: clamp(32px, 8vw, 60px);
    line-height: 1.0;
    font-weight: 600;
	overflow-wrap: break-word;
}

.fs-1 {
	font-size: clamp(1.5rem, 2.5vw, 2.25rem) !important;
    line-height: 1.25 !important;
    overflow-wrap: break-word !important;
}

.fs-2 {
	font-size: clamp(1.4rem, 2.5vw, 2rem) !important;
    line-height: 1.25 !important;
    overflow-wrap: break-word !important;
}

.fs-3 {
	font-size: clamp(1.3rem, 2.5vw, 1.75rem) !important;
	line-height: 1.25 !important;
    overflow-wrap: break-word !important;
}

.fs-4 {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem) !important;
    line-height: 1.25 !important;
    overflow-wrap: break-word !important;
}

.fs-5 {
	font-size: clamp(1.1rem, 2.5vw, 1.25rem) !important;
    overflow-wrap: break-word !important;
}


.menu-button {
  background: $red-color;
  border-color: $red-color;
  color: #fff;

  &:hover,
  &:focus {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }
}

.fade-menu-button {
  background-color: $red-color;
  border-color: $red-color;
  color: #fff;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus {
    background-color: black;
    color: white;
    border-color: black;
  }
}

.content {
    a {
        color: black !important;
        font-width: bolder;
        font-weight: 600;
        display: inline;
    }

    h1 {
        font-size: clamp(1.5rem, 2.5vw, 2.25rem) !important;
        line-height: 1.25 !important;
        overflow-wrap: break-word !important;
        margin-top: 1vh;
        margin-bottom: 20px;
    }

    h2 {
        font-size: clamp(1.4rem, 2.5vw, 2rem) !important;
        line-height: 1.25 !important;
        overflow-wrap: break-word !important;
        margin-top: 2vh
    }

    h3 {
        font-size: clamp(1.3rem, 2.5vw, 1.75rem) !important;
        line-height: 1.25 !important;
        overflow-wrap: break-word !important;
        margin-top: 30px;
    }
}