
.step-block {
  position: relative;
  height: 200px;
  padding: 10px;

  @include media-breakpoint-up(md) {
    width: 50%;
    height: 300px;
    padding-left: 15px;
  }

  z-index: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  font-family: $font-family-sans-serif;
  line-height: 20px;
  font-size: 15px;
  font-weight: 500;
}



.step-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: -1;
  overflow: hidden;

  font-size: 200px;
  font-weight: 700;
  color: $white-offset;

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}