.content {
  a {
    text-decoration: none;
    display: inline;
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;

    max-width: 100%;
    height: auto;

    @include media-breakpoint-up(md) {
      margin-left: auto;
      margin-right: auto;
    }

    border-radius: .25rem;
  }

    img[alt$=">"] {
      @include media-breakpoint-up(md) {
        float: right;
      }
    }

    img[alt$="<"] {
      @include media-breakpoint-up(md) {
        float: left;
      }
    }

    img[alt$="><"] {
      float: none !important;
    }

  strong {
    font-weight: bold;
    display: inline;
  }

  em {
    font-style: italic;
  }

  p {
    font-family: $font-family-base;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    color: $primary-dark;
  }

  h1 {
    font-family: $font-family-base;
    font-size: 28px;
    line-height: 1.26;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 20px;
  }

  h2 {
    font-family: $font-family-base;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 2vh
  }

  h3 {
    font-family: $font-family-base;
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 30px;
  }

  ul,
  ol {
    margin-bottom: 20px;

    ul,
    ol {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    margin-left: 20px;
    margin-bottom: 15px;
    @include media-breakpoint-up(md) {
      margin-bottom: 5px;
    }
    font-family: $font-family-base;
    color: $primary-dark;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
  }

  hr {
    border: none;
    border-bottom: 1px solid $white-offset;
  }

  table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    th,
    td {
      padding: 5px;
      vertical-align: top;
      border-top: 1px solid $white-offset;
    }

    thead th {
      vertical-align: bottom;
      border-bottom: 1px solid $white-offset;
      text-align: left;
      font-weight: bold;
    }

    tbody + tbody {
      border-top: 1px solid $white-offset;
    }
  }

  blockquote {
    padding: 0 1em;
    color: $steel;
    border-left: .25em solid $secondary;

    p {
      text-align: left;
    }
  }
}

.weight-bold {
  font-weight: bold !important;
}


.custom-header {
  color: $primary !important;
}

.desktop-mode {
  & {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

.mobile-mode {
  & {
    display: block;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}