.header {
  color: $white;
  background-color: $primary-dark;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  padding: 10px 0;


  @include media-breakpoint-up(md) {
    z-index: 5;
    top: 0;
    position: sticky;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.header-absolute {
    z-index: 10;
    width: 100%;
  }

  a {
    pre {
      display: block;
      float: left;
      margin: 5px 0 5px 0;
    }
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}