.nav-item .nav-link,
.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
  color: #000;
}

.site-logo {
	height: 40px;
	width: auto;
	max-width: 100%;
	object-fit: contain;
	display: block;
}

@include media-breakpoint-down(sm) {
	.site-logo {
		max-width: 30vw;
		height: auto;
		min-height: 40px;
	}
}