.intro {

  @include media-breakpoint-up(md) {
    height: calc(max(718px, 50vh));
  }

  @include media-breakpoint-up(lg) {
    height: calc(max(718px, 90vh));
  }

  .h-100 {
    height: 100%
  }

  .messenger-icon {
    width: 21px;
    height: 21px;
    display: inline;
  }
}
