.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }

  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > li {
      list-style: none;
      font-size: 1rem;

      > a {
        padding: 10px 12px 10px 12px;
        display: inline-block;
        font-weight: 300;
        font-size: large;
        font-family: $font-family-base;
        text-decoration: none;
        color: $white;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active {
        > a {
          font-weight: bold;
          text-decoration: underline;
          text-decoration-color: $primary;

          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }

      &:last-child {
        background-color: $primary;
        border: 0 solid $primary;
        border-radius: 5px;
      }
    }
  }
}
