.main-menu {

  height: 100%;

  > ul {
    > li {
      list-style: none;
      font-size: 1rem;
      height: 100%;

      > a {
        margin-left: 10px;
        margin-right: 10px;

        color: $white;
        font-size: 1.3vw;
        font-family: $font-family-base;


        display: block;
        text-align: center;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active {
        > a {
          font-weight: bold;
          text-decoration: underline;
          text-decoration-color: $primary;

          &:hover {
            text-decoration: none;
            transition: all 225ms ease-in 0s;
          }
        }
      }


      &:last-child {
        background-color: $primary;
        border: 0 solid $primary;
        border-radius: 5px;
        padding: 6px 5px;
      }
    }
  }
}
