.slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: auto;
}

.slider-track {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    transition: transform .4s ease;
    width: max-content;
}

.slide {
    flex: 0 0 280px;
    flex-shrink: 0;
    text-align: center;
    transform: scale(.75);
    opacity: .6;
    transition: transform .3s, opacity .3s;
}

.slide img {
    border-radius: .25rem ;
    aspect-ratio: 10/6;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);

    width: 500px;
    @media (max-width: 767px) {
        width: 300px;
    }
}

.slide.active {
    transform: scale(1);
    opacity: 1;
}

.slider-buttons button {
    background: black;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 15%;
    cursor: pointer;
    font-size: 18px;
}