#feedbackSlider.image-slider-container {
  overflow: hidden;
  width: 100%;
}

#feedbackSlider .image-slider-track {
  display: flex;
  gap: 20px;
  width: max-content;
  transition: transform .4s ease;
  will-change: transform;
}

#feedbackSlider .image-slide {
  flex: 0 0 360px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

#feedbackSlider .image-slide img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: contain;
}

@media (max-width: 767px) {
  #feedbackSlider .image-slide {
    flex: 0 0 350px;
    height: 600px;
  }
}

.image-slider-buttons button {
  background: black;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
}
