.social {
  display: block;
  a {
    color: $white;
    font-family: $font-family-base;
    display: inline-block;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}