.mobile-footer-menu {

  position: sticky;
  bottom: 0;

  height: 50px;
  background: $white;

  @include media-breakpoint-up(xl) {
    display: none;
    height: auto;
    img {
      display: none;
    }
  }
}