---
layout: default
---
<div class="container pt-2 pb-5">
    <div class="content">
        <p class="fs-1 mt-5">{{ page.title }}</p>
        {% if page.text %}
            <div class="row">
                <p class="fs-5">
                    {{page.text}}
                </p>
            </div>
        {% endif %}

        {% for category in site.categories %}
            <div class="mb-1">
                {% assign site_category = category | first %}
                {% assign page_category = page.category_name %}

                {% if page_category == site_category %}
                    <div class="row g-3">
                        {% assign sorted_posts = category | last | sort: "date" | reverse %}
                        {% for post in sorted_posts %}
                        <div class="col-12 col-md-3">
                            <a href="{{ post.url }}" class="text-reset text-decoration-none d-block">
                                <div class="ratio ratio-16x9 rounded overflow-hidden mb-2">
                                    <img src="{{ post.image }}"
                                         class="w-100 h-100 object-fit-cover"
                                         title="{{ post.title }}"
                                         alt="{{ post.description | smartify }}">
                                </div>
                                <p class="mb-0 fs-6">{{ post.title | smartify }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    </div>
</div>