---
layout: default
---
<div class="container pt-2 pb-6">
    <div class="content">
        <h1>{{ page.title }}</h1>
        {% if page.text %}
            <div class="row">
                <p>
                    {{page.text}}
                </p>
            </div>
        {% endif %}

        {% for category in site.categories %}
            <div class="row mb-1">
                {% assign site_category = category | first %}
                {% assign page_category = page.category_name %}

                {% if page_category == site_category %}
                    <div class="row">
                        {% assign sorted_posts = category | last | sort: "date" | reverse %}
                        {% for post in sorted_posts %}
                        <div class="col-md-3">
                            <a href="{{ post.url }}" class="text-reset">
                                <img src="{{ post.image }}" title="{{post.title}}" alt="{{ post.description | smartify}}">
                                <h6>{{ post.title | smartify }}</h6>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    </div>
</div>