<!DOCTYPE html>
<html lang="ru"
      prefix="og: https://ogp.me/ns#
              video: https://ogp.me/ns/video#
              article: https://ogp.me/ns/article#
              profile: https://ogp.me/ns/profile#">
<head>
    {% if page.video %}
        <link rel="preconnect" href="https://i3.ytimg.com">
        <link rel="preconnect" href="{{ page.video.url }}">
    {% endif %}

    <script src="{{ '/assets/js/mobile-menu.js' | relative_url }}" async></script>
    <script src="{{ '/assets/js/jquery-3.7.1.min.js' | relative_url }}" async></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}" async></script>
    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">

    <meta charset="utf-8">
    {% if page.url contains ".html" %}
        {% assign canonical_link = site.url | append: page.url %}
    {% elsif page.url == nil or page.url == '' or page.url == '/' %}
        {% assign canonical_link = site.url %}
    {% else %}
        {% assign canonical_link = site.url | append: page.url | append: ".html" %}
    {% endif %}

    {% if page.title %}
        <title>{{page.title}}</title>
    {% else %}
        <title>{{ site.title | escape }}</title>
    {% endif %}
    <meta name="description" content="{{ page.description | default: site.description }}">
    <link rel="canonical" href="{{ canonical_link }}">
    {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="application/ld+json">
        {% include ld-json.json canonical_link=canonical_link %}
    </script>
    {% include or-headers.html canonical_link=canonical_link %}

    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{site.url}}/feed.xml">

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/logo/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/assets/images/logo/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/logo/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/assets/images/logo/favicon-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/logo/apple-touch-icon.png">

    {% include analytics-counters.html %}
</head>

  <body class='page {{layout.bodyClass}}'>
    <div id="wrapper" class="wrapper">
        {% include header.html %}
        {{content}}
    </div>

    {% include footer.html %}
  </body>
</html>
