---
layout: default
---
<div class="container mt-2 mb-5">
    <div class="col-12">
        <div class="row">
            <div class="faq">
                <h1>Нужны ответы? Найдите их здесь</h1>
                <button class="collapsible">
                    Какой у вас опыт/образование?
                </button>
                <div class="faq-block">
                    Вы можете узнать обо мне на <a href="{{'/about' | relative_url }}">
                    этой странице</a>
                </div>

                <button class="collapsible">
                    Сколько стоит диагностическая консультация?
                </button>
                <div class="faq-block">
                    Диагностическая консультация стоит 5 000₽ (пять тысяч) рублей, но для участников группы помощи при
                    ТТМ 2 500₽ (две тысячи пятьсот) рублей
                </div>
                <button class="collapsible">
                    Сколько стоит терапия?
                </button>
                <div class="faq-block">
                    Терапия оплачивается блоками по 4 сессии и каждый блок стоит 20 000 (двадцать тысяч) рублей
                </div>
                <button class="collapsible">
                    Сколько времени займет терапия?
                </button>
                <div class="faq-block">
                    У каждого человека по-разному, в зависимости от того, какой у вас уровень организации психики,
                    проходили ли вы психотерапию ранее, степень выраженности симптоматики ТТМ, сопутствующие заболевания
                    или вопросы, которые необходимо решить
                </div>

                <button class="collapsible">
                    Где проходит терапия?
                </button>
                <div class="faq-block">
                    Я работаю онлайн по всему миру в видеоформате, сессии в основном проходят в ZOOM, Google meet и т.д.
                </div>

                <button class="collapsible">
                    Что необходимо на сессию?
                </button>
                <div class="faq-block">
                    Хороший интернет. Также мне необходимо будет видеть вас желательно до пояса/груди.
                </div>

                <button class="collapsible">
                    Как подготовиться к диагностической консультации?
                </button>
                <div class="faq-block">
                    Заполнить анкету и, если понадобится, пройти тесты
                </div>

                <button class="collapsible">
                    Возможно ли вылечиться?
                </button>
                <div class="faq-block">
                    Да, возможно.
                </div>

                <button class="collapsible">
                    Были ли успешные случаи?
                </button>
                <div class="faq-block">
                    Конечно!
                </div>

                <button class="collapsible">
                    Как с вами связаться?
                </button>
                <div class="faq-block">
                    Связаться со мной вы можете при помощи контактов на <a href="{{'/contact' | relative_url }}">этой
                    странице</a>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ '/assets/js/collapse-faq.js' | relative_url }}"></script>
</div>











