---
layout: default
---
<div class="container mt-2 mb-5">
    <div class="col-12">
        <div class="row">
            <div class="faq" itemscope itemtype="https://schema.org/FAQPage">
                <h1>Нужны ответы? Найдите их здесь</h1>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Что такое трихотилломания?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            <b>Трихотилломания</b> - это патологическое телесно направленное повторяющееся действие,
                            направленное на вырывание своих волос, влекущее ухудшение качества жизни в социальной,
                            профессиональной и других сферах, сопровождающееся безуспешными попытками подавить данные
                            импульсы.
                            Трихотилломания включена в Одиннадцатый пересмотр Международной статистической классификации
                            болезней и проблем, связанных со здоровьем, который был разработан Всемирной организацией
                            здравоохранения (ВОЗ).
                        </div>
                    </div>
                </div>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Как вылечить трихотилломанию?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            <b>Лечение трихотилломании</b> производится посредством психотерапии (рекомендуется
                            когнитивно-поведенческая психотерапия). В крайне тяжелых случаях наряду с психотерапией
                            применяется медикаментозное лечение у психиатра.
                        </div>
                    </div>
                </div>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Возможно ли вылечиться?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            Возможно. <br>
                            Конечно, в случае, если у вас имеются сопутствующие психические расстройства, которые
                            будут являться приоритетными в психотерапии, то необходимо сначала вылечить их, если они
                            поддаются лечению.
                            В других случаях если вы приняли осознанное решение идти в терапию и
                            дойти до конца, тогда у вас гарантия результата.
                        </div>
                    </div>
                </div>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Сколько времени займет терапия?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            У каждого человека по-разному, в зависимости от того, какой у вас уровень организации
                            психики,
                            проходили ли вы психотерапию ранее, степень выраженности симптоматики ТТМ, сопутствующие
                            заболевания или вопросы, которые необходимо решить. В среднем 6-12 месяцев.
                        </div>
                    </div>
                </div>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Какой у вас опыт/образование?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            Вы можете узнать на странице <a href="{{'/about.html' | relative_url }}">
                            обо мне</a>.
                        </div>
                    </div>
                </div>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Сколько стоит диагностическая консультация?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            <strong>2 500₽</strong> (две тысячи пятьсот) рублей
                        </div>
                    </div>
                </div>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Сколько стоит терапия?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            Терапия оплачивается блоками по 4 сессии.<br/><br/>
                            Стоимость индивидуальность терапии: <br/>
                            <ul>
                                <li>
                                    <strong>20 000₽.</strong> Оплата терапии осуществляется блоками по 4 сессии, из
                                    расчета 5 000₽ за 1 сессию 60 минут
                                </li>
                            </ul>
                            <br/>
                            Стоимость групповой терапии:<br/><br/>
                            <ul>
                                <li>
                                    <strong>10 000₽</strong> в месяц за блок из 4 сессий из расчета 2500₽ за сессию
                                    <strong>для
                                        взрослых</strong>
                                </li>
                                <li>
                                    <strong>12 000₽</strong> в месяц за блок из 4 сессий из расчета 3000₽ за сессию
                                    <strong>для
                                        детей и подростков</strong>.
                                    Блок включает отдельный чат для родителей с моей обратной связью
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Где проходит терапия?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            Я работаю онлайн по всему миру в видеоформате, сессии в основном проходят в ZOOM, Google
                            meet и т.д.
                        </div>
                    </div>
                </div>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Что необходимо на сессию?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            Хороший интернет. Также мне необходимо будет видеть вас желательно до пояса/груди.
                        </div>
                    </div>
                </div>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Как подготовиться к диагностической консультации?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            Заполнить анкету и, если понадобится, пройти тесты.
                        </div>
                    </div>
                </div>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Были ли успешные случаи?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            Конечно! <br>
                            Для начала мой случай является успешным - более 10 лет без возвращения к
                            трихотилломании.<br>
                            Далее случаи моих клиентов, которые приняли решение дойти до конца. У всех уходит разное
                            количество времени на излечение от трихотилломании, но главное, что это возможно.
                        </div>
                    </div>
                </div>
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <button class="collapsible" itemprop="name">
                        Как с вами связаться?
                    </button>
                    <div class="faq-block" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text">
                            Связаться со мной вы можете при помощи контактов
                            на <a href="{{'/contact.html' | relative_url }}">этой странице</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ '/assets/js/collapse-faq.js' | relative_url }}"></script>
</div>











