---
title: Отзывы
layout: default
---

<div class="container pb-6 pt-2">
    <div class="row justify-content-start">
        <div class="col-md-12 col-sm-1">
            <h1>{{page.title}}</h1>
            <p>
                Здесь вы можете ознакомиться с анонимными отзывами моих клиентов
            </p>
            <div>
                <ul class="gallery filter">
                    {% for item in site.data.feedback.images %}
                    <li>
                        <a href="{{ item | relative_url }}">
                            <img src="{{ item | relative_url }}"
                                 alt="">
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>