---
layout: default
bodyClass: "page-posts"
---

<div class="container pt-6 pb-6">
  <div class="row">
    {% assign weighted_posts = site.posts | sort: 'date' | reverse %}
    {% for post in weighted_posts %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h2>
          <p>{{ post.content | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
