---
layout: default
---

<div class="container mt-5">
    <div class="content">
        <p class="fs-1">{{ page.title }}</p>
        <div class="row content border-bottom pb-3 mb-3">
            <p class="mb-0 fs-5">{{ page.text }}</p>
        </div>
        <div class="row mb-5">
            {% include categories-menu.html %}
        </div>
        <div class="row mb-3">
            {% include recent-posts-block.html %}
        </div>
        <div class="row">
            {% include categories-block.html %}
        </div>
    </div>
</div>