---
layout: default
---

<div class="container pb-5 pt-md-5 pt-1 pb-md-4">
    <div class="col justify-content-start">
        <div class="col-12 col-md-8 row">
            <div class="content">
                <h1>{{page.title}}</h1>
                <div>{{content}}</div>

                <div class="pt-1">
                    <a href="/contact"
                       class="button button-shadow button-post d-block">
                        Записаться на консультацию
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="row">
                <h3>Похожие статьи</h3>
            </div>
            <div class="row">
                {% assign sorted_posts = site.categories[page.category] | where_exp: "post", "post.title != page.title" | sample:4  %}
                {% for post in sorted_posts %}
                    <div class="col-md-3">
                        <a href="{{ post.url }}">
                            <img src="{{post.image}}" alt="{{post.title}}" style="width: 100%; aspect-ratio: 900/600;"/>
                            <h4 class="p-1">{{ post.title | smartify }}</h4>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>