---
layout: default
---

<div class="container pb-5 pt-md-5 pt-1 pb-md-4">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
          <div class="service service-single">
            <span class="badge badge-info">
                {% include article-info.html %}
            </span>
            <h1 class="title">{{page.title}}</h1>
            <div class="content">{{content}}</div>

            <div class="pt-1">
                <a href="/contact.html"
                   class="button button-shadow button-post d-block">
                            Записаться на консультацию
                </a>
            </div>
          </div>
        </div>
    </div>
    <div class="row col mt-4">
        {% assign sorted_posts = site.categories[page.category] | where_exp: "post", "post.title != page.title" | sample:4 %}
        {% if sorted_posts and sorted_posts.size < 4 %}
            {% assign sorted_posts = site.posts | where_exp: "item", "item.title!= page.title" | sample:4 %}
        {% endif %}
        <div class="row col">
            <span class="weight-bold mb-1" style="font-size: x-large">
                <a href="/posts.html">Похожие статьи</a>
            </span>
        </div>
        <div class="row">
            {% for post in sorted_posts %}
                <div class="col-md-3 content">
                    <a href="{{ post.url }}">
                        <img src="{{post.image}}"
                             alt="{{post.title}}"
                             title="{{post.description}}"
                             style="width: 100%;
                                    border-radius: .25rem;
                                    aspect-ratio: 9/6;
                                    object-fit: contain;">
                        <p class="pt-1">{{ post.title | smartify }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>